body {
    background-image: url('D:\Xtime\Xtime website\Imagini/Token alocation');
    background-size: cover; /* Face imaginea să ocupe tot ecranul */
    background-position: center;
    background-repeat: no-repeat;
}

